<% content = render partial: "form", locals: { comment: @comment } %>
<% if @comment.commentable.is_a? Reaction%>
    var comments_div = $("#reaction<%= @comment.commentable_id %>-comments")
<% else %>
	var comments_div = $("#answer<%= @comment.commentable_id %>-comments")
<% end %>
var new_comment_dialog = $("<div></div>").append("<%= escape_javascript(content) %>")
new_comment_dialog.dialog({
    autoOpen: true,
    modal: true,
    title: "New comment",
    resizable: true,
    height: "auto",
    width: "auto",
    close: function() {
        new_comment_dialog.dialog("destroy").remove();
    }
})