var answer_div = $('div#<%= @answer.id%>');
<% if @answer.errors.any? %>
  if(answer_div.find('#error_explanation').length != 0){
    answer_div.find('#error_explanation ul').empty();
  } else {
    answer_div.find('form').prepend('<div id="error_explanation"><ul></ul></div>');
  }
  var errors = answer_div.find('#error_explanation ul');
  <% @answer.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>
<% else %>
  <% content = render @answer%>	
  answer_div.replaceWith("<%= escape_javascript(content) %>");
<% end %>